body {
	margin: 0;
	padding: 0;
}

.container {
	align-items: center;
	align-self: center;
	display: flex;
	height: 100%;
	justify-content: center;
	margin: 0 auto;
	position: absolute;
	width: 100%;
}

.yellow {
	background-color: rgb(233, 219, 113);
	border-top-right-radius: 35%;
	border-bottom-left-radius: 35%;
	height: 90%;
	margin: 0 auto;
	position: relative;
	width: 60%;
}